.timeline-date {
  font-size: 1.5em;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 4em;
  height: 4em;
  border: solid 0.2em #fff;
  border-radius: 50%;
}
.timeline-content {
  display: table-cell;
  vertical-align: middle;
}
.timeline-content > p.sub {
  margin-bottom: 0;
}
.timeline-content > p.main {
  margin-top: 0;
  font-size: 1.5em;
}
.timeline-content > p.main > a {
  border-bottom: dotted 2px #fff;
}